#result-block-container { width: 800px; position: relative; margin: 0 auto;  }
#clusters-container {}



/*---------------------------- Cluster ----------------------------*/
.cluster {width: 760px; background: #444; margin: 0 auto; margin-bottom:32px; border-radius:8px; border: 1px solid #DDD; box-shadow: 2px 2px 6px 0px #AAA;}
.cluster-label-container {height: 32px; line-height: 32px; color:#666; position: relative;}

.cluster-label-mask {height: 100%; width: 100%; background: white; opacity: 0.5; position: absolute; z-index: 1;}
.cluster-label { padding-left: 12px; height: 100%; width: 100%; position: absolute; z-index: 2;}

.entry {border-top: 1px solid #D4D4D4; width:750px; margin: 0 auto; height: 28px; line-height: 28px;}
.entry-ngram, .entry-count, .entry-percent, .entry-example {float: left; line-height: 28px;}
.entry-ngram { width: 480px; padding-left: 14px;}
.entry-count, .entry-percent {text-align: center;}
.entry-count {width: 128px;}
.entry-percent {width: 64px;}
.entry-example {width: 32px; height:28px; text-align: center; }

.example-container {height: 36px; line-height: 36px; padding-left: 30px;}
.example-container div {min-width:36px; float:left; line-height: 36px; height: 36px;}
.entry-example img {width: 20px; height: 20px; margin-top: 4px;}
.entry-example img:hover {cursor:pointer;}
/*.example-sent {clear: both;}*/
/*--------------------------- end Cluster ---------------------------*/


/* */
#cluster-tag-container {width: 800px; min-height:26px; max-height: 64px; /* background: red;*/}
/*.tag-on {background: #FDFDFD!important; color:#454545!important; box-shadow: 1px 1px 3px 0px #CCC!important;}*/
.tag-on {background: #FDFDFD!important; color:#454545!important; box-shadow: 1px 1px 3px 0px #CCC!important;}
/*.tag-off {}*/
.tag-container {min-width:36px; height: 24px; line-height:24px; display: inline-block; margin-bottom: 2px; border: 1px solid #CCC; border-radius:5px; display:; margin-right:15px; background: #EEE;  color:#666; box-shadow: 1px 1px 2px 0px #999 inset;}
.tag-container:hover {cursor: pointer;}
/*.tag-container:active {cursor: pointer;}*/
.tag-container div {float:left;}
.tag-status {width: 24px; text-align: center}
.tag-status img {width:10px;}
.tag-text {padding-right: 8px;}


#c1 {background: #c8fea9;}
#c2 {background: #fdfeb0;}