.item { width: 100%; height: 48px; background: #FFF; font-family: Verdana, Geneva, sans-serif; font-size: 16px; }

#normal-result-container {
	position: relative;
	margin: 0 auto;
	width: 800px;
} 

.item td { /*background: purple;*/}
.item-ngram, .item-portion, .item-count { height: 48px; line-height: 48px; position: relative;}
.item-portion, .item-count, .item-example { text-align: center; }

/*.item-ngram-text{position: absolute; top}*/
.item-ngram 	{width: 540px;}
.item-bar 		{ height: 5px; background: brown; position: absolute; bottom:5px; left:0px;}
.item-portion 	{width: 64px;}
.item-count 	{width: 128px;}
.item-example 	{width: 32px; height: 32px;}

.example-container div {}
.quoteleft, .quoteright, .example-sent-new{ float: left; /*min-height: 32px; max-height: 100%;*/}

.quoteleft, .quoteright {width:38px; height: 38px;}

.quoteleft	{ margin-left: 24px; top:0px; /*display: inline-block;*/}
.quoteright { /*right: 32px;*/ /*position: relative; */bottom:0px; /*display: inline-block;*/}

/*.example-sent {display: block; width: 540px; left: 72px; background: yellow; min-height: 32px; position: relative; /*position: relative;*/}*/

.item-example img {width: 26px; height: 26px;}
.item-example img:hover {cursor:pointer;}

.item-example-container td {/*position: relative; */ padding-top: 12px; padding-bottom: 8px;}



.example-sent-new { max-width: 640px; /*background: red;*/ font-family: Verdana, Geneva, sans-serif; font-size: 14px; line-height: 24px;}
/*.example-container div {}*/